@page "/"
@inherits HomeBase
@using OverlyComplicatedBowling.Presentation.Web.Components.Shared
@using OverlyComplicatedBowling.Shared.Dtos

<PageTitle>OverlyComplicatedBowling</PageTitle>

<div class="main-view">
	<img src="images\banner.jpg" />
	<h1>Bowling!</h1>
	<h3>@Message</h3>
	<button @onclick="StartGame">
		@StartButtonText
	</button>

	<div class="game-view">

		@if(@GameStarted) 
		{
			<img src="images\roll.jpg" @onclick="AddRoll" class="roll-button" title="Roll!"/>
		}

		<Game Frames="@Frames" />
	</div>
</div>