@page "/"
@using OverlyComplicatedBowling.Presentation.Web.Components.Shared
@using OverlyComplicatedBowling.Shared.Dtos

<PageTitle>Home</PageTitle>

<h1>Bowling!!</h1>

<Game Frames="@frames" />

Welcome to your new app.

@code {
	private SortedDictionary<int, RollDto> rolls;
	private SortedDictionary<int, RollDto> rolls2;
	private SortedDictionary<int, FrameDto> frames;

	protected override void OnInitialized()
	{
		rolls = new()
		{
			{1, new RollDto{KnockedPins = 1}},
			{2, new RollDto{KnockedPins = 2}}
		};
		rolls2 = new()
		{
			{1, new RollDto{KnockedPins = 1}},
			{2, new RollDto{KnockedPins = 2}},
			{3, new RollDto{KnockedPins = 3}}
		};
		frames = new()
		{
			{1, new FrameDto{Rolls=@rolls}},
			{2, new FrameDto{Rolls=@rolls}},
			{3, new FrameDto{Rolls=@rolls}},
			{4, new FrameDto{Rolls=@rolls}},
			{5, new FrameDto{Rolls=@rolls}},
			{6, new FrameDto{Rolls=@rolls}},
			{7, new FrameDto{Rolls=@rolls}},
			{8, new FrameDto{Rolls=@rolls}},
			{9, new FrameDto{Rolls=@rolls}},
			{10, new FrameDto{Rolls=@rolls2}},
		};
		base.OnInitialized();
	}
}