@page "/"
@inherits HomeBase
@using OverlyComplicatedBowling.Shared.Dtos
@using OverlyComplicatedBowling.Presentation.Web.Components.Shared.Common
@using OverlyComplicatedBowling.Presentation.Web.Components.Shared.Matches

<PageTitle>OverlyComplicatedBowling</PageTitle>

<div class="main-view">
	<img src="images\banner.jpg" />
	<h1>Bowling!</h1>
	<h3>@Message</h3>

	<div class="controls-view">
		<InputCounter Message="How many players?" Value="@NumberOfPlayers" MinValue="1" DefaultValue="NumberOfPlayers" ValueChanged="@(v => NumberOfPlayers = v)"/>

		<button @onclick="StartGame">
			@StartButtonText
		</button>
	</div>

	@if (MatchStarted)
	{
		<Match Match="@Match"/>		
	}
</div>