@inherits FrameBase
@using OverlyComplicatedBowling.Shared.Dtos

<div class="frame">
	<div class="rolls-container">
		@for (int i = 1; i < MaxRolls+1; i++)
		{
			int? knockedPins = null;
			if(Rolls is not null && Rolls.TryGetValue(i, out RollDto? roll))
			{
				knockedPins = roll?.KnockedPins;
			}

			<div class="roll">@knockedPins</div>
		}
	</div>
	<div class="score">666</div>
</div>
