@inherits FrameBase
@using OverlyComplicatedBowling.Shared.Dtos

<div class="frame">
	<div class="rolls-container">
		@foreach(RollDto roll in Rolls.Values)
		{
			<div class="roll">@roll.KnockedPins</div>
		}
	</div>
	<div class="score">666</div>
</div>
