@inherits GameBase
@using OverlyComplicatedBowling.Shared.Dtos

<div class="game">
	@foreach(FrameDto frame in Frames.Values)
	{
		//<Frame Rolls="frame.Rolls" />
		<Frame Rolls="frame.Rolls" />
	}
</div>